{% extends 'base/layout.html' %}

{% load static %}

{% block catalogos %} active {% endblock catalogos %}

{% block collapse %} show {% endblock collapse %}

{% block producto %} active {% endblock producto %}

{% block page_content %}

    <div class="col-lg-12">

        {% if subcategorias and marcas and unidades_medida %} <!-- type(queryset )-->

            {% if cantidad_subcategorias == cantidad_subcategorias_inactivas or cantidad_marcas == cantidad_marcas_inactivas or cantidad_um == cantidad_um_inactivas %} <!-- type(int) y type(int) -->

                {% if productos %} <!-- Obviamente type(queryset) -->
                    <!-- Dropdown Card Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Listado de los Productos</h6>
                            <div class="dropdown no-arrow">
                                <!-- si todas las categorias están inactivas -->
                                <a class="btn btn-success inhabilitado" onclick="alert('No hay catálogos de inventario');">
                                    <span class="fas fa-external-link-alt"></span>
                                    Nuevo Producto
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <th>Id</th>
                                        <th>Subcategoría</th>
                                        <th>Marca</th>
                                        <th>U.M.</th>
                                        <th>Código</th>
                                        <th>Barra</th>
                                        <th>Descripción</th>
                                        <th>Existencia</th>
                                        <th>Estado</th>
                                        <th class="all">Acciones</th>
                                    </thead>
                                    <tbody>
                                        {% for item in productos %}
                                            <tr>
                                                <td>{{ item.id }}</td>
                                                <td>{{ item.subcategoria }}</td>
                                                <td>{{ item.marca }}</td>
                                                <td>{{ item.unidad_medida }}</td>
                                                <td>{{ item.codigo }}</td>
                                                <td>{{ item.codigo_barra }}</td>
                                                <td>{{ item.descripcion|upper }}</td>
                                                <td>{{ item.existencia }}</td>
                                                <td>{{ item.estado|yesno:"Activo, Inactivo" }}</td>
                                                <td>
                                                    <!-- Si el estado de la categoría está inactivo-->
                                                    <a class="btn btn-warning btn-circle inhabilitado">
                                                        <i class="fas fa-edit"></i>
                                                    </a>
                                                    <a class="btn btn-dark btn-circle inhabilitado">
                                                        <i class="fas fa-thumbs-down"></i>
                                                    </a>
                                                    <a onclick="return abrir_modal('{% url 'inv:producto_delete' item.id %}')" class="btn btn-danger btn-circle">
                                                        <i class="fas fa-trash"></i>
                                                    </a>
                                                </td>   
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <!-- Default Card Example -->
                    <div class="card mb-4">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold">Listado de los Productos</h6>
                            <div class="dropdown no-arrow">
                                <!-- si todas las categorias están inactivas -->
                                <a class="btn btn-success inhabilitado" onclick="alert('No hay catálogos de inventario');">
                                    <span class="fas fa-external-link-alt"></span>
                                    Nuevo Producto
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            Aún no hay productos en el sistema
                        </div>
                    </div>
                {% endif %}

            {% else %}

                {% if productos %}

                    <!-- Dropdown Card Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Listado de los Productos</h6>
                            <div class="dropdown no-arrow">
                                <!-- si por lo menos una está activa -->
                                <a onclick="return abrir_modal('{% url 'inv:producto_new' %}')" class="btn btn-success">
                                    <span class="fas fa-external-link-alt"></span>
                                    Nuevo Producto
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <th>Id</th>
                                        <th>Subcategoría</th>
                                        <th>Marca</th>
                                        <th>U.M.</th>     
                                        <th>Código</th>
                                        <th>Barra</th>
                                        <th>Descripción</th>
                                        <th>Existencia</th>
                                        <th>Estado</th>
                                        <th class="all">Acciones</th>
                                    </thead>
                                    <tbody>
                                        {% for item in productos %}
                                            <tr>
                                                <td>{{ item.id }}</td>
                                                <td>{{ item.subcategoria }}</td>
                                                <td>{{ item.marca }}</td>
                                                <td>{{ item.unidad_medida }}</td>
                                                <td>{{ item.codigo }}</td>
                                                <td>{{ item.codigo_barra }}</td>
                                                <td>{{ item.descripcion|upper }}</td>
                                                <td>{{ item.existencia }}</td>
                                                <td>{{ item.estado|yesno:"Activo, Inactivo" }}</td>
                                                <td>
                                                    <!-- Si el estado de la categoría está activo-->
                                                    {% if item.subcategoria.estado or item.marca.estado or item.unidad_medida.estado %}
                                                    <a onclick="return abrir_modal('{% url 'inv:producto_edit' item.id %}')" class="btn btn-warning btn-circle">
                                                        <i class="fas fa-edit"></i>
                                                    </a>
                                                    <a onclick="return abrir_modal('{% url 'inv:producto_estado' item.id %}')" class="btn btn-dark btn-circle">
                                                        {% if item.estado %}
                                                        <i class="fas fa-thumbs-down"></i>
                                                        {% else %}
                                                        <i class="fas fa-thumbs-up"></i>
                                                        {% endif %}
                                                    </a>
                                                    <!-- Si el estado de la categoría está inactivo-->
                                                    {% else %}
                                                    <a class="btn btn-warning btn-circle inhabilitado">
                                                        <i class="fas fa-edit"></i>
                                                    </a>
                                                    <a class="btn btn-dark btn-circle inhabilitado">
                                                        {% if item.estado %}
                                                        <i class="fas fa-thumbs-down"></i>
                                                        {% else %}
                                                        <i class="fas fa-thumbs-up"></i>
                                                        {% endif %}
                                                    </a>
                                                    {% endif %}
                                                    <a onclick="return abrir_modal('{% url 'inv:producto_delete' item.id %}')" class="btn btn-danger btn-circle">
                                                        <i class="fas fa-trash"></i>
                                                    </a>
                                                </td>   
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                {% else %}

                    <!-- Default Card Example -->
                    <div class="card mb-4">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold">Listado de las Productos</h6>
                            <div class="dropdown no-arrow">
                                <!-- si por lo menos una está activa -->
                                <a onclick="return abrir_modal('{% url 'inv:producto_new' %}')" class="btn btn-success">
                                    <span class="fas fa-external-link-alt"></span>
                                    Nuevo Producto
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            Aún no hay productos en el sistema
                        </div>
                    </div>

                {% endif %}

            {% endif %}

        {% else %}

            <!-- Default Card Example -->
            <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold">Listado de los Productos</h6>
                    <div class="dropdown no-arrow">
                        <!-- si no hay categorias -->
                        <a class="btn btn-success inhabilitado" onclick="alert('No hay catálogos de inventario');">
                            <span class="fas fa-external-link-alt"></span>
                            Nuevo Producto
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    Aún no hay productos en el sistema
                </div>
            </div>

        {% endif %}
    
    </div>

{% endblock page_content %}

{% block js %}
    <script src="{% static 'js/table.js' %}"></script>
{% endblock js %}
