{% extends 'base/layout.html' %}

{% load static %}

{% block catalogos %} active {% endblock catalogos %}

{% block collapse %} show {% endblock collapse %}

{% block subcategoria %} active {% endblock subcategoria %}

{% block page_content %}

    <div class="col-lg-12">

        {% if categorias %} <!-- type(queryset )-->

            {% if cantidad_categorias == cantidad_categorias_inactivas %} <!-- type(int) y type(int) -->

                {% if subcategorias %} <!-- Obviamente type(queryset) -->
                    <!-- Dropdown Card Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Listado de las SubCategorías</h6>
                            <div class="dropdown no-arrow">
                                <!-- si todas las categorias están inactivas -->
                                <a class="btn btn-success inhabilitado" onclick="alert('No hay categorías');">
                                    <span class="fas fa-external-link-alt"></span>
                                    Nueva SubCategoría
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <th>Id</th>
                                        <th>Categoría</th>
                                        <th>SubCategoría</th>
                                        <th>Estado</th>
                                        <th>F. Creación</th>
                                        <th>F. Modificación</th>
                                        <th class="all">Acciones</th>
                                    </thead>
                                    <tbody>
                                        {% for item in subcategorias %}
                                        <tr>
                                            <td>{{ item.id }}</td>
                                            <td>{{ item.categoria|upper }}</td>
                                            <td>{{ item.descripcion|upper }}</td>
                                            <td>{{ item.estado|yesno:"Activa, Inactiva" }}</td>
                                            <td>{{ item.fc|date:"d/m/Y H:i:s" }}</td>
                                            <td>{{ item.fm|date:"d/m/Y H:i:s" }}</td>
                                            <td>
                                                <a class="btn btn-warning btn-circle inhabilitado">
                                                    <i class="fas fa-edit"></i>
                                                </a>
                                                <a class="btn btn-dark btn-circle inhabilitado">
                                                    <i class="fas fa-thumbs-up"></i>
                                                </a>
                                                <a onclick="return abrir_modal('{% url 'inv:subcategoria_delete' item.id %}')" class="btn btn-danger btn-circle">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            </td>   
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <!-- Default Card Example -->
                    <div class="card mb-4">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold">Listado de las SubCategorías</h6>
                            <div class="dropdown no-arrow">
                                <!-- si todas las categorias están inactivas -->
                                <a class="btn btn-success inhabilitado" onclick="alert('No hay categorías');">
                                    <span class="fas fa-external-link-alt"></span>
                                    Nueva SubCategoría
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            Aún no hay subcategorías en el sistema
                        </div>
                    </div>
                {% endif %}

            {% else %}

                {% if subcategorias %}

                    <!-- Dropdown Card Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Listado de las SubCategorías</h6>
                            <div class="dropdown no-arrow">
                                <!-- si por lo menos una está activa -->
                                <a href="{% url 'inv:subcategoria_new' %}" class="btn btn-success">
                                    <span class="fas fa-external-link-alt"></span>
                                    Nueva SubCategoría
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <th>Id</th>
                                        <th>Categoría</th>
                                        <th>SubCategoría</th>
                                        <th>Estado</th>
                                        <th>F. Creación</th>
                                        <th>F. Modificación</th>
                                        <th class="all">Acciones</th>
                                    </thead>
                                    <tbody>
                                        {% for item in subcategorias %}
                                        <tr>
                                            <td>{{ item.id }}</td>
                                            <td>{{ item.categoria|upper }}</td>
                                            <td>{{ item.descripcion|upper }}</td>
                                            <td>{{ item.estado|yesno:"Activa, Inactiva" }}</td>
                                            <td>{{ item.fc|date:"d/m/Y H:i:s" }}</td>
                                            <td>{{ item.fm|date:"d/m/Y H:i:s" }}</td>
                                            <td>
                                                <!-- Si el estado de la categoría está activo-->
                                                {% if item.categoria.estado == True %}
                                                <a href="{% url 'inv:subcategoria_edit' item.id %}" class="btn btn-warning btn-circle">
                                                    <i class="fas fa-edit"></i>
                                                </a>
                                                <a onclick="return abrir_modal('{% url 'inv:subcategoria_estado' item.id %}')" class="btn btn-dark btn-circle">
                                                    {% if item.estado %}
                                                    <i class="fas fa-thumbs-down"></i>
                                                    {% else %}
                                                    <i class="fas fa-thumbs-up"></i>
                                                    {% endif %}
                                                </a>
                                                <!-- Si el estado de la categoría está inactivo-->
                                                {% else %}
                                                <a class="btn btn-warning btn-circle inhabilitado">
                                                    <i class="fas fa-edit"></i>
                                                </a>
                                                <a class="btn btn-dark btn-circle inhabilitado">
                                                    <i class="fas fa-thumbs-up"></i>
                                                </a>
                                                {% endif %}
                                                <a onclick="return abrir_modal('{% url 'inv:subcategoria_delete' item.id %}')" class="btn btn-danger btn-circle">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            </td>   
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                {% else %}

                    <!-- Default Card Example -->
                    <div class="card mb-4">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold">Listado de las SubCategorías</h6>
                            <div class="dropdown no-arrow">
                                <!-- si por lo menos una está activa -->
                                <a href="{% url 'inv:subcategoria_new' %}" class="btn btn-success">
                                    <span class="fas fa-external-link-alt"></span>
                                    Nueva SubCategoría
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            Aún no hay subcategorías en el sistema
                        </div>
                    </div>

                {% endif %}

            {% endif %}

        {% else %}

            <!-- Default Card Example -->
            <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold">Listado de las SubCategorías</h6>
                    <div class="dropdown no-arrow">
                        <!-- si no hay categorias -->
                        <a class="btn btn-success inhabilitado" onclick="alert('No hay categorías');">
                            <span class="fas fa-external-link-alt"></span>
                            Nueva SubCategoría
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    Aún no hay subcategorías en el sistema
                </div>
            </div>

        {% endif %}
    
    </div>

{% endblock page_content %}

{% block js %}
    <script src="{% static 'js/table.js' %}"></script>
{% endblock js %}
