{% extends 'base/layout.html' %}

{% load static %}

{% block movimientos %} active {% endblock movimientos %}

{% block collapse2 %} show {% endblock collapse2 %}

{% block compras %} active {% endblock compras %}

{% block page_content %}
    <form method="POST" id="formCompra"> <!-- Para HTML5 es un solo formulario, pero parecen dos-->
        {% csrf_token %}
        <!-- Earnings (Annual) Card Example -->
        <div class="col-xl-12 col-md-12 mb-12"> <!-- De 12 -> para qué se vea mejor -->
            {% if not encabezado %}
            <div class="card border-left-success shadow h-100 py-2">
            {% else %}
            <div class="card border-left-warning shadow h-100 py-2">
            {% endif %}
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            {% if not encabezado %}
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Nueva Compra
                            </div>
                            {% else %}
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Editar Compra
                            </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Proveedor:</label>
                                        <div class="col-sm-10">
                                            {{ form_compra.proveedor }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="id_fecha_compra">Fecha Compra:</label>
                                                {{ form_compra.fecha_compra }}
                                            </div>
                                            <div class="form-group">
                                                <label for="id_observacion">Descripción:</label>
                                                {{ form_compra.observacion }}
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="id_nro_factura">Nro. Factura:</label>
                                                {{ form_compra.nro_factura }}
                                            </div>
                                            <div class="form-group">
                                                <label for="id_fecha_factura">Fecha Factura:</label>
                                                {{ form_compra.fecha_factura }}
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <label for="id_sub_total">Sub Total:</label>
                                                </div>
                                                <div class="col">
                                                    {{ form_compra.sub_total }}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <label for="id_descuento">Descuento:</label>
                                                </div>
                                                <div class="col">
                                                    {{ form_compra.descuento }}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <label for="id_total">Total:</label>
                                                </div>
                                                <div class="col">
                                                    {{ form_compra.total }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="row">
                                        <div class="col">
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-hover table-sm" id="dataTable" width="100%" cellspacing="0">
                                                    <thead>
                                                        <th>Id</th>
                                                        <th class="all">Descripción</th>
                                                        <th class="all">Acciones</th>
                                                    </thead>
                                                    <tbody>
                                                        {% for item in productos %}
                                                            <tr>
                                                                <td>{{ item.id }}</td>
                                                                <td>{{ item.descripcion|upper }}</td>
                                                                <td>
                                                                    <button type="button" class="btn btn-warning btn-circle" onclick="selectProduct({{ item.id }}, '{{ item.descripcion|upper }}');">
                                                                        <i class="far fa-hand-pointer"></i>
                                                                    </button>
                                                                </td>   
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="id_id_producto" class="col-sm-3 col-form-label">Producto</label>
                                        <div class="col-sm-2">
                                            <input type="text" readonly class="form-control-plaintext" name="id_id_producto" id="id_id_producto" value="" required>
                                        </div>
                                        <div class="col-sm-7">
                                            <input type="text" readonly class="form-control-plaintext" name="id_descripcion_producto" id="id_descripcion_producto" value="" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="id_cantidad_detalle" class="col-sm-2 col-form-label">Cant.:</label>
                                        <div class="col-sm-2">
                                            <input type="number" class="form-control" name="id_cantidad_detalle" id="id_cantidad_detalle" value="0" required>
                                        </div>
                                        <label for="id_precio_detalle" class="col-sm-2 col-form-label">Precio:</label>
                                        <div class="col-sm-2">
                                            <input type="number" class="form-control" name="id_precio_detalle" id="id_precio_detalle" value="0" required>
                                        </div>
                                        <label for="id_descuento_detalle" class="col-sm-2 col-form-label">Desc.:</label>
                                        <div class="col-sm-2">
                                            <input type="number" class="form-control" name="id_descuento_detalle" id="id_descuento_detalle" value="0">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="id_sub_total_detalle" class="col-sm-2 col-form-label">S. Total:</label>
                                        <div class="col-sm-4">
                                            <input type="text" readonly class="form-control-plaintext" name="id_sub_total_detalle" id="id_sub_total_detalle" value="0">
                                        </div>
                                        <label for="id_total_detalle" class="col-sm-2 col-form-label">Total:</label>
                                        <div class="col-sm-3">
                                            <input type="text" readonly class="form-control-plaintext col-sm-10" name="id_total_detalle" id="id_total_detalle" value="0">
                                        </div>
                                        <div class="col-sm-1">
                                            <button type="button" class="btn btn-sm col-sm-2" onclick="clear_detail();"><i class="fa fa-minus-circle" aria-hidden="true"></i></button>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <button type="submit" class="btn btn-danger">
                                                <span class="fa fa-save"></span>
                                                Guardar
                                            </button>
                                            <a href="{% url 'cmp:compras' %}" class="btn btn-success">
                                                <i class="far fa-hand-point-left"></i>
                                                Cancelar
                                            </a>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                                            <thead>
                                                <th>Producto</th>
                                                <th>Cantidad</th>
                                                <th>Precio</th>
                                                <th>Sub Total</th>
                                                <th>Desc.</th>
                                                <th>Total</th>
                                                <th class="all">Acciones</th>
                                            </thead>
                                            <tbody>
                                                {% for item in detalle %}
                                                <tr>
                                                    <td>{{ item.producto }}</td>
                                                    <td>{{ item.cantidad }}</td>
                                                    <td>{{ item.precio_prv }}</td>
                                                    <td>{{ item.sub_total }}</td>
                                                    <td>{{ item.descuento }}</td>
                                                    <td>{{ item.total }}</td>
                                                    <td>
                                                        <a onclick="return abrir_modal('{% url 'cmp:compra_delete' item.id encabezado.pk %}');" class="btn btn-danger btn-circle">
                                                            <i class="fas fa-trash"></i>
                                                        </a>
                                                    </td>   
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock page_content %}

{% block js %}
<script>
    $(function () {

        $("#id_fecha_compra, #id_fecha_factura").datetimepicker({
            format: 'Y-m-d',
            timepicker:false
        });

        $("#sidebarToggle").click();

        $('.table').DataTable({
            "pageLength": 2,
            "language": {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "<span class='fa fa-angle-double-left'></span>",
                    "sLast": "<span class='fa fa-angle-double-right'></span>",
                    "sNext": "<span class='fa fa-angle-right'></span>",
                    "sPrevious": "<span class='fa fa-angle-left'></span>"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            }
        });

        $("#id_cantidad_detalle, #id_precio_detalle, #id_descuento_detalle").change( function () {
            calcular_detalle();
        });

        $("#formCompra").submit( function (e) {

            if ( $("#id_total_detalle").val() === '0'  ||  $("#id_id_producto").val() === '' ) {

                e.preventDefault(); // Detener envío del POST al Server

                $.alert({

                    type: 'red',
                    title: '',
                    content: 'No se ha agregado un producto o no tiene detalle'

                });

            }

        });

    });

    function selectProduct(id, descripcion) { // Seleccionar Producto para el Detalle de Compra
        /*
        $("#id_cantidad_detalle").val(0);
        $("#id_precio_detalle").val(0);
        $("#id_descuento_detalle").val(0);

        $("#id_sub_total_detalle").val(0);
        $("#id_total_detalle").val(0);
        */

        $("#id_id_producto").val(id);
        $("#id_descripcion_producto").val(descripcion);
        $("#id_cantidad_detalle").focus();
        $("#id_cantidad_detalle").select(); // Dar TAB para rellenar

        //$('.table').DataTable().search('').draw();
    }

    function calcular_detalle() { // Calcular el Detalle

        var cant,prec,desc,stotal,total;

        cantidad = $("#id_cantidad_detalle").val();
        precio = $('#id_precio_detalle').val();
        descuento = $('#id_descuento_detalle').val();

        // Mismas Comprobaciones hasta Descuento

        cantidad = cantidad === "" ? 0 : cantidad;
        cantidad = cantidad < 0 ? 0 : cantidad;

        precio = precio === "" ? 0 : precio;
        precio = precio < 0 ? 0 : precio;

        descuento = descuento === "" ? 0 : descuento;
        descuento = descuento < 0 ? 0 : descuento;

        // Comprobación del Descuento

        descuento = descuento >= (cantidad * precio) ? 0 : descuento;

        // Luego de las Comprobaciones, vienen las Afirmaciones
        
        subtotal = cantidad * precio;
        total = subtotal - descuento;

        // Mostrar datos calculados

        $("#id_catidad_detalle").val(cantidad);
        $("#id_precio_detalle").val(precio);
        $("#id_descuento_detalle").val(descuento);
        $("#id_sub_total_detalle").val(subtotal);
        $("#id_total_detalle").val(total);

    }

    function clear_detail(){ // Limpiar Detalle
        $("#id_cantidad_detalle").val(0);
        $("#id_precio_detalle").val(0);
        $("#id_descuento_detalle").val(0);

        $("#id_sub_total_detalle").val(0);
        $("#id_total_detalle").val(0);

        $("#id_id_producto").val('');
        $("#id_descripcion_producto").val('');

        $("#id_proveedor").focus();
    }

    $("#id_proveedor").focus();
</script>
{% endblock js %}
